body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191414;
  background-image: radial-gradient(rgb(207, 207, 207) 1px, transparent 1px);
  background-size: 10px 10px;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  padding: 0 80px;
  /* Adjust based on your design */
}

/* Container for the header */
.header {
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(29, 185, 84, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Style for the heading */
.header h1 {
  font-size: 2.5em;
  color: white;
  margin: 0;
}

/* Specific style for "mmm" */
.header h1 .highlight {
  color: black;
}

.profile {
  grid-column: 4 / 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(29, 185, 84, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile-text h2 {
  margin: 0;
  padding: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(29, 185, 84, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

button:hover {
  background-color: #1aa34a;
}

/* Search form styling */
.search-form {
  grid-column: 5 / span 4;
  /* Starts at the end of the 4th column and spans 5 columns */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}



/* Search input styling */
.search-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(29, 185, 84, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.search-input::placeholder {
  color: #CACACA;
}

.results {
  grid-column: span 7;
  /* Spans from the start to the 7th column */
  border-radius: 12px;
  padding: 10px 16px;
  box-sizing: border-box;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(29, 185, 84, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.results h2 {
  margin-bottom: 15px;
  margin-top: 5px;
}

.playlist {
  grid-column: 8 / span 4;
  border-radius: 12px;
  padding: 10px 16px;
  box-sizing: border-box;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(29, 185, 84, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.playlist button {
  margin: 10px;
}

.playlist-name {
  display: inline-block; /* Ensures the input width adjusts based on content */
  position: relative;
  margin-bottom: 10px;
  margin-top: 0;
}

.playlist-name input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc; /* Underline style */
  background-color: transparent; /* Ensures no background color */
  padding: 5px; /* Adjust padding as needed */
  color: white; /* Text color */
  width: 100%; /* Ensures input expands to fill the available width */
  font-size: 1em; /* Adjust font size as needed */
  outline: none; /* Removes default focus outline */
}

.playlist-name input[type="text"]:focus {
  border-color: #1DB954; /* Change underline color on focus if needed */
}

.input-playlist-name {
  font-weight: 600; /* Semi-bold font weight */
}


.action_button {
  padding: 5px 10px;
}

.track-item {
  display: flex;
  justify-content: space-between; /* Align items with space between */
  align-items: center; /* Center items vertically */
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid white; /* Bottom border for each track item */
}

.track-info {
  flex: 1; /* Take up remaining space */
}

.track-info h3 {
  margin: 0;
}

.track-info p {
  margin: 5px 0;
  color: #ccc; /* Adjust color if needed */
  font-weight: 600;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.action_button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action_button:hover {
  background-color: #1aa34a; /* Adjust hover color if needed */
}

.results_p {
  font-size: 1.5rem;
  font-weight: 600;
}